.galleryContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}
.wraper {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}
/*estilos de ImageGallery*/
.image-gallery {
  width: 100%;
  height: 100%;
  top: 10%;
}

.display-image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 8px;
}

.display-image-gallery img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
