.Appheader {
  position: -webkit-sticky;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  .headerContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    max-width: 1000px;
    margin: 0 auto;
    padding-inline: 2rem;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
}
.letraTitulo {
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

span:hover {
  color: #ff0000;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
@media (max-width: 768px) {
  .Appheader {
    .headerContainer {
      width: 90%;
      h1 {
        span {
          font-size: 5rem;
        }
      }
    }
  }
}
